/*
 *	Shamefull shame: Notes for Linda
 */

/* No declarar en css lo que se editará en markup */
.tw-btn-foot:before {
	content: none;
}

/* No biggie */
.admin-bar aside.openMenu {
	top: 46px;
}

.acf-map {
	width: 100%;
	height: 400px;
	position: absolute;
}

/* fixes potential theme css conflict */
.acf-map img {
	max-width: inherit !important;
}

/* footer 3 columns */
footer .three-cols ul > li {
	width: 32%;
	display: inline-block;
	vertical-align: top;
}

/* Debugging */
pre {
	display: none;
}
.many-colonies {
	margin-top: 2em;
}

.many-colonies h3 {
	display: inline-block;
}

aside input#searchsubmit {
	position: absolute;
	display: inline-block;
	width: initial;
	padding: .3em 0.5em .4em;
	background: none;
	top: .75em;
	right: 1em;
	border: 2px solid;
	color: #f05a67;
	border-radius: .5em;
}

aside input {
	font-family: inherit;
}
.bg-white a, .bg-white a.active {
	color: #333;
}
